@font-face {
	/*font-family: 'Conv_Shorelines Script Bold';*/
	src: url('fonts/Shorelines Script Bold.eot');
	src: local('☺'), url('fonts/Shorelines Script Bold.woff') format('woff'), url('fonts/Shorelines Script Bold.ttf') format('truetype'), url('fonts/Shorelines Script Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}